.App {
  text-align: center;
  background: #78C1A6;  /* fallback for old browsers */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background:#4C826E;
  border-bottom:1px solid white;
  height: 3rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.2rem;
  color: white;
  font-weight: bold;
}

.logo{
  height: 2.5rem;
  width: 2.5rem;
  margin-right:10px;
  background: url(https://media4.giphy.com/media/KztT2c4u8mYYUiMKdJ/200.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.info{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row{
  width: 100%;
}

.message{
  background: black;
  color: white;
  border-radius: 1rem;
  margin: 0.8rem;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  position: relative;
}

.message-name{
  position: absolute;
  top: -1rem;
  left: 0.8rem;
  font-size: 0.55rem;
  color:black;
  font-weight: bold;
}

.text-input{
  width: 100%;
  border-top: 1px solid white;
  height: 3rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #4C826E;
}

.input-box{
  height: 1.6rem;
  width: calc(100% - 0.4rem);
  border-radius: 1rem;
  border: 1px solid white;
  outline: none;
  padding-left: 1rem;
  margin: 1rem;
  background: #A1DAC5;
  color: black;
}

.send-button{
  border-radius: 100%;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  border: 1px solid white;
  background: #395B4E;
  color: black;
  cursor: pointer;
  outline: none;
  height: 1.6rem;
  width: 1.6rem;
}

.send-button[disabled]{
  background: rgba(255, 255, 255, 0.8);
  cursor: default;
  color: white;
}

.name-picker{
  display:flex;
  margin:0rem 1.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  color: white;
}

.name-picker input {
  max-width: 10rem;
  border-radius: 1rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
}

.name-picker button{
  background: #A1DAC5;
  border: 0rem;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
}
